<!DOCTYPE HTML PUBLIC "-//W3C//DTT HTML 4.01/EN">
<!-- ... -->
<html>
<head>
    <title>EventeX</title>
    <meta charset="utf-8">
    <link type="text/css" href="{{ STATIC_URL }}css/style.css"
          rel="stylesheet" media="screen" />
</head>
<body>
<div id="container">

    <div id="menu">
        <li><a href="{% url homepage %}">HOME</a></li>
        <li><a href="{% url subscriptions:subscribe %}">INCRIÇÃO</a></li>
        <li><a href="{% url core:talks %}">PALESTRAS</a></li>
        <li><a href="{% url core:speakers_detail %}">PALESTRANTES</a></li>
        <li><a href="/admin">LOGIN</a></li>
        <h1>EventeX</h1>
    </div>
    <div id="header">
        <h1>Bem Vindo!</h1>
        <h2>O evento mais sensacional do ano depois do Dev in Rio<br>
            não pode perder esta oportunidade!<br><br>
        </h2>
    </div>

    <div id="content">
        {% block content %}
        {% endblock content %}

    </div>

    <div id="footer">
        Copyright @ EventeX 2012
    </div>
</div>


</body>
</html>
