<!-- ... -->
{% extends 'base.html' %}
{% block content %}
<div id="content">
    <h1 class="title">Inscrições abertas!</h1>
    <p>Não fique de fora! Para se inscrever no EventeX basta clickar no link abaixo:</p>
    <p><a href="{% url subscriptions:subscribe %}"><b>Inscreva-se já!</b></a></p>
    <p>Para dúvidas e mais informações entre em contato com <a href="mailto:eventex@eventex.com">eventex@eventex.com</a></p>
</div>
{% endblock content %}