{% extends 'base.html' %}
{% block content %}
<h1>Inscrição para o EventeX</h1>
<form action="." method="POST">
    <div style="display: none">
        <input type="hidden" name='csrfmiddlewaretoken'
               value='f9fc4f317d58542742421c80ae12d443'/>
    </div>
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Enviar" class="button">
</form>
{% endblock content %}
