{% extends 'base.html' %}
{% block content %}
        {% if speaker.avatar %}
            <p><img src="{{ speaker.avatar.url }}" alt="Sem imagem!" /></p>
        {% endif %}

        <h1><a href="{{ speaker.url }}">{{ speaker.name }}</a></h1>
        <h2>{{ speaker.description }}</h2>
{% endblock content %}