{% extends 'base.html' %}
{% block content %}
    {% for speaker in speakers.all %}
        <h1><a href="{% url core:speaker_detail speaker.slug %}">{{ speaker.name }}</a></h1>
    {% empty %}
        <p>Não existe palestrantes até este momento.</p>
    {% endfor %}
{% endblock content %}