<div class="palestra" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
    <h2><a href="{% url core:talk_detail talk.id %}">
    {{ talk.start_time }} - {{ talk.title }} </a></h2>
    <p>Palestrantes:</p>
    {% for speaker in talk.speakers.all %}
    <h5><a href="{% url core:speaker_detail speaker.slug %}"
    tile="{{ speaker.description|truncatewords:20 }}">
    {{ speaker.name }}</a></h5>
    {% endfor %}
    <h3>{{ talk.description }}</h3>
</div>