{% extends 'base.html' %}
        {% block content %}

        <h1>Manhã</h1>
        {% for talk in morning_talks %}
            {% include 'core/talks_snippet.html' %}
        {% empty %}
            <p>Não existem palestras durante a manhã.</p>
        {% endfor %}

        <hr style="display: block"/>

        <h1>Tarde</h1>
        {% for talk in afternoon_talks %}
            {% include 'core/talks_snippet.html' %}
        {% empty %}
            <p>Não existem palestras durante a tarde.</p>
        {% endfor %}

        {% endblock content %}