body {
    margin: 0;
    padding: 0;
    background: 0;
}
a:link { color: #000000; }
a:visited { color: #000000; }
a:focus { color: #82cb00; }
a:hover { color: #82cb00; }
#container {
    width: 650px;
    background: #fff;
    margin: 40px auto 60px;
}

#menu {
    background: #fff;
    border-bottom: 2px groove #009905;
}
#pic { float: right; margin: -30px 10 0 0; }
#menu h1 {
    line-height: 0px;
}
#menu li {
    line-height: 100px;
}
#menu li {
    display: inline;
    padding: 0 5px;
}
#header h1 {
    font: 16px Helvetica, Sans-Serif;
}
#header h2 {
    font-style: italic;
    font-family: Georgia, Serif;
    font-size: 16px;
    color: #999;
    font-weight: normal;
}
#content {
    width: 650px;
    margin-top: 50px;
}
#content h1 {
    font-style: italic;
    font-family: Georgia, Serif;
    font-size: 24px;
    border-top: 1px dotted #009905;
    background: rgba(165, 253, 0, 0.25);
}
#content h2 {
    margin-left: 10px;
    font-size: 16px;
}

#content h3 {
    border-radius: 2px 2px 5px;
    background: rgba(138, 215, 0, 0.24);
}

#footer {
    clear: both;
    background: #fff;
    border-top: 2px groove #009905;
}